<html>
<body>
  <h1>Rejection Notice ระบบ Project Management System</h1>
  <p>ชื่อ <%= @student.name %> รหัสนักศึกษา <%= @student.student_id %></p>
  <p>คุณได้โดนปฎิเสธการเป็น ที่ปรึกษากับอาจารย์ <%= @advisor.name%></p>
  <p>หากมีข้อสงสัย กรุณาติดต่ออาจารย์โดยตรง</p>
</body>
</html>
